$light-main-bg-clr: beige;
$game-bg-clr: forestgreen;
$light-default-font-clr: white;

// Font

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$default-font-weight: 500;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    height: 100vh;

}

.game {
    width: 89%;
    aspect-ratio: 4 / 2;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    display: block;
    width: 100%;
}

.game-board {
    order: 2;
    position: relative;
    background-image: url('../imgs/field.svg');
    background-repeat: no-repeat;
    // transform: rotate(90deg);
    object-position: center center;
    background-size: cover;
    background-position: 50% 50%;
    background-clip: content-box;
    // background-size: 80%;
    width: 100%;
    height: 100%;
    background-color: $game-bg-clr;
    .ball {
        user-select: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        width: 50px;
        aspect-ratio: 1 / 1;
        transition: .3s;
    }
}

.board {
    user-select: none;
    order: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .score {
        display: flex;
        align-items: center;
        user-select: none;
        gap: 10px;
        h2 {
            display: inline;
        }
        p {
            font-weight: $default-font-weight;
            display: inline;
        }
    }
    .timer {
        font-weight: $default-font-weight;
    }
    
}

.btn-grp {
    margin-top: 20px;
    order: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    button {
        // color: aliceblue;
        cursor: pointer;    
        padding: .5rem 1.5rem;
        border: none;
        border-radius: .25rem;
        background-color: #ccc;
        font: inherit;

    }
    button:last-child {
        color: white;
        background-color: crimson;
        margin-left: auto;
    }
    button:last-child:hover {
        background-color: darken(crimson, 5);
    }
    button:hover {
        background-color: #bbb;
        transform: scale(.98);
    }
}

.container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
}

.score-board {
    order: 3;
    margin-top: 50px;
    height: 600px;
    aspect-ratio: .75 / 1;
    background-color: #ddd;
    li {
        margin-block: 10px;
        display: flex;
        justify-content: space-between;
        div {
            display: inline;
        }
        .score {
            font-weight: 600;
        }
    }
}
